@page "/product/{id:int}"
@inject IProductService ProductService
@inject ICartService CartService
@inject IWishlistService WishlistService
@inject ILocalStorageService LocalStorage
@inject IToastService ToastService
@inject AuthenticationStateProvider GetAuthenticationStateAsync

@if (product == null)
{
    <span>@message</span>
}
else
{
    <div class="media">
        <div class="media-img-wrapper mr-2">
            <img class="media-img" src="@product.ImageUrl" alt="@product.Title" />
        </div>
        <div class="media-body">
            <h2 class="mb-0">@product.Title</h2>
            <p>@product.Description</p>
            <h4 class="price">
                £@product.Price
            </h4>

            <a href="https://twitter.com/intent/tweet?text=@tweetText" class="twitter-share-button"><img src="" />Tweet</a>

            <AuthorizeView>
                <Authorized>
                    <button class="btn btn-primary" @onclick="AddToCart">
                        <i class="oi oi-cart"></i>&nbsp;&nbsp;&nbsp;Add to Cart
                    </button>
                    <button class="btn btn-primary" @onclick="AddToWishlist">
                        <i class="oi oi-book"></i>&nbsp;&nbsp;&nbsp;Add to Wishlist
                    </button>
                </Authorized>
            </AuthorizeView>

        </div>
    </div>
}

@code {
    private Product product = null;
    private string message;

    private string tweetText;

    [Parameter]
    public int Id { get; set; }

    //Loads products from Product Service
    protected override async Task OnParametersSetAsync()
    {
        message = "Loading product...";

        var result = await ProductService.GetProductById(Id);
        if (!result.Success)
        {
            message = result.Message;
        }
        else
        {
            product = result.Data;

            tweetText = $"I recommend reading the book {product.Title}";
        }
    }

    private async Task AddToCart()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User.Identity.Name;
        await CartService.AddToCart(product, user);
    }

    private async Task AddToWishlist()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User.Identity.Name;
        await WishlistService.AddToWishlist(product, user);
    }

}
